.containerForm {
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    align-items: center;
}

.containerForm h2 {
    color: var(--primary-color);
}

.containerForm form {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 40%;
}

.containerForm form input {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #414141;
    border-radius: 4px;
    /* border: 2px solid green; */
    border: none;
    outline: none;
    color: white;
    resize: none;
    width: 80%;
}

.containerForm form input:focus {
    border: 2px solid rgb(92, 92, 92);
    outline: none;
}

.containerForm textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: #414141;
    outline: none;
    color: white;
    resize: none;
    width: 80%;
    height: 200px;
}

.containerForm form textarea:focus {
    border: 2px solid rgb(92, 92, 92);
    outline: none;
}

/* Responsive */
@media (max-width: 1500px) {
    .containerForm form {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .containerForm form {
        width: 100%;
    }
    .containerForm form input{
        width: 95%;
    }

    .containerForm textarea {
        width: 95%;
    }
}