.tab-content input {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #414141;
    border-radius: 4px;
    /* border: 2px solid green; */
    border: none;
    outline: none;
    color: white;
    resize: none;
    /* width: 80%; */
}

.tab-content textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: #414141;
    outline: none;
    color: white;
    resize: none;
    width: 100%;
    height: 200px;
}

#editProd {
    width: unset;
}

@media (max-width: 1000px) {
    #editProd {
        width: 80%;
    }
}

@media (max-width: 500px) {
    #editProd {
        width: 95%;
    }
}