.footer-content {
  width: -webkit-fill-available;
  /* margin: auto; */
  justify-items: center;
  padding: 10px 0;
  border-top: #272727 1px solid;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.footer-links li {
  display: inline;
  margin: 0 10px;
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
}

.footer-links a:hover {
  color: #fff;
}

.social-media {
  margin-top: 10px;
}

.social-media a {
  color: #fff;
  margin: 0 8px;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s;
}

.social-media a:hover {
  color: #1da1f2; 
}