.products {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  width: 100%;
  justify-items: center;
}

.pagination button {
    margin-left: 10px;
}
.pagination button.active-page-btn {
  background-color: #444343;
  color: white;
}

.pagination button:hover {
  background-color: #ddd;
}

.products a {
    text-decoration: none;
}

/* Responsive */
@media (max-width: 500px) {
  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
  }

  .productCard {
    width: unset !important;
    height: -webkit-fill-available !important;
  }

  .products .productCard h4 {
    font-size: 0.9rem;
    -webkit-line-clamp: 1;
    margin: 2px;
  }

  .productCard img {
    width: -webkit-fill-available;
  }

  .products a {
    width: 45%;
  }

}