.productCard {
    background-color: var(--dark-gray);
    border-radius: var(--border-radius);
    padding: 2px;
    text-align: center;
    cursor: pointer;
    transition: 
        transform 1s ease,
        box-shadow 1s ease,
        background-color 1s ease;
    color: #c4c4c4;
    overflow: hidden;

    margin: 5px;
    width: 235px;
    height: 170px;
    position: relative;
}

#root .product-detail-container img {
    border-radius: var(--border-radius);
    width: 50%;
}

.productCard h4 {
    font-size: 1rem;
    margin: 5px 4px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productCard p {
    font-size: 1.2rem;
    color: var(--primary-color);
    font-family: "Bebas Neue", sans-serif;
    margin: 2px;
}

.productCard:hover img {
  transform: scale(1.05);
  transition: transform 0.3s;
}
.product-card:hover .buy-btn {
  opacity: 1;
}

/*Icono visibilidad*/
.visibility-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #167b62;
  color: white;
  padding: 6px;
  border-radius: 50%;
  font-size: 0.85rem;
  z-index: 2;
}

@media (max-width: 700px) {
    #root .product-detail-container img {
        border-radius: var(--border-radius);
        width: 100% !important;
    }
}